@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

body {
  font-family: "New Tegomin", serif;
  background: linear-gradient(0deg, #373737, #898989);
  background-size: 400% 400%;

  -webkit-animation: playlistbackground 30s ease infinite;
  -moz-animation: playlistbackground 30s ease infinite;
  animation: playlistbackground 30s ease infinite;
}

.Pic {
  position: absolute;
  width: 298px;
  height: 298px;
  left: 571px;
  top: 85px;
}

.title {
  position: absolute;
  width: 284px;
  height: 67px;
  left: 573px;
  top: 409px;

  font-family: "New Tegomin", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  color: #ffffff;
}

.circle1 {
  position: absolute;
  width: 157px;
  height: 157px;
  left: 103px;
  top: 570px;
  border-radius: 50%;

  background: #c4c4c4;
}

.Homura {
  position: absolute;
  width: 308px;
  height: 171px;
  opacity: 0%;
  left: 46px;
  top: 324px;
}

.Homura.active {
  opacity: 100%;
}

.lyrics {
  position: absolute;
  width: 300px;
  top: 170px;

  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
}

.circle2 {
  position: absolute;
  width: 157px;
  height: 157px;
  left: 354px;
  top: 570px;
  border-radius: 50%;

  background: #c4c4c4;
}

.circle2.hover {
  background: honeydew;
}

.Koi {
  position: relative;
  opacity: 0%;
  width: 286px;
  height: 161px;
  left: 219px;
  top: 699px;
}

.Koi.active {
  opacity: 100%;
}

.lyrics2 {
  position: relative;
  width: 320px;
  top: 200px;
  left: 90px;

  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
}

.circle3 {
  position: absolute;
  width: 157px;
  height: 157px;
  left: 605px;
  top: 570px;
  border-radius: 50%;

  background: #c4c4c4;
}

.daodai {
  position: absolute;
  width: 320px;
  height: 188px;
  left: 529px;
  top: 324px;
  opacity: 0%;
}

.daodai.active{
    opacity: 100%;
}

.lyrics3 {
  position: absolute;
  width: 410px;
  height: 58px;
  left: 468px;
  top: 512px;

  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
}

@-webkit-keyframes playlistbackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes playlistbackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes playlistbackground { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}